<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="css">
        <title th:text="${title}"></title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="decorator" content="default"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link th:href="@{/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css">
        <script th:src="@{/bootstrap/3.3.7/js/bootstrap.js}"></script>

        <!-- sb-admin-2 CSS -->
        <link th:href="@{/sb-admin-2/css/sb-admin-2.css}" rel="stylesheet">

        <!-- MetisMenu CSS 菜单插件 -->
        <link th:href="@{/metisMenu/metisMenu.min.css}" rel="stylesheet">

        <!-- Morris Charts CSS 报表插件 -->
        <!--<link th:href="@{/reportForm/morrisjs/morris.css}" rel="stylesheet">-->

        <!-- Custom Fonts -->
        <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    </head>
</html>