<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="js">
        <!-- Jquery -->
        <script th:src="@{/jquery/3.1.1/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript 菜单插件 -->
        <script th:src="@{/plugins/metisMenu/metisMenu.min.js}"></script>

        <!-- Morris Charts JavaScript 报表插件 -->
        <!--<script th:src="@{/plugins/reportForm/raphael/raphael.min.js}"></script>-->
        <!--<script th:src="@{/plugins/reportForm/morrisjs/morris.min.js}"></script>-->

        <!-- Custom Theme JavaScript sb-admin 自己 js -->
        <script th:src="@{/sb-admin-2/js/sb-admin-2.min.js}"></script>

    </th:block>

</html>